.embed {
	.repo-link {
	}

	.issue-number {
		display: inline;
		font-weight: var(--font-light);
		color: var(--text-faint);
	}

	.issue-title {
		display: inline;
		flex: 1;
	}

	.info {
		gap: var(--size-4-3);
		row-gap: var(--size-4-2);

		.basic-info {
			display: inline-flex;
			flex-wrap: wrap;
			align-items: center;
			gap: var(--size-4-2);

			.author-link {
				display: inline-flex;
				align-items: center;
				gap: var(--size-4-1);

				.author-avatar {
					width: 1em;
					height: 1em;
					border-radius: 0.5em;
				}
			}

			.date {
				white-space: nowrap;
			}
		}

		.comments {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: var(--size-4-1);

			.icon-container {
				display: inline-grid;
				place-content: center;
			}
		}
	}

	.labels {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding-left: 0;
		gap: var(--size-4-1);
		font-size: var(--font-text-size);
	}

	.hidden {
		display: none !important;
	}
}

@mixin icon($color) {
	display: grid;
	place-content: center;

	& > svg {
		stroke: $color;
	}
}

.draft {
	@include icon(gray);
}

.open {
	@include icon(green);
}

.closed {
	@include icon(orangered);
}

.merged {
	@include icon(mediumpurple);
}
